.title{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 33px;
    color: darkblue;
    margin-top: 5px;
    text-transform: none;
}